body {
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    box-shadow: 0px 0px 15px black;
}

h1 {
    text-align: center;
    color: #00e5ff;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn {
    background-color: #00e5ff;
    color: black;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

.btn:hover {
    background-color: #00b8d4;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    color: #76ff03;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
